body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* Margin 0 em body é para que a barra do topo esteja "colada" na janela do navegador*/
}

.header {
    background-color: #232323;
    color: white;
    /* Como estamos usando float, o header vai "sumir" se não tiver uma altura.
    Para que o header esteja visível, você tem duas saídas:
    1. Adicionar uma altura (height) fixa.
    2. Configurar para que header tenha o tamanho de seus elementos dentro dele,
    não deixando que nada "derrame" para fora. (overflow: auto)
    */
    /* height: 102px; */
    overflow: auto;
    border-bottom: 3px solid orangered;
    /* Estilos que se repetem em todas as dimensoes do elemento como 
    padding, border, margin, têm suas variações top-right-left-bottom.
    
    Você pode escrever cada uma delas separadamente
    (padding-top)(padding-right)(padding-bottom)(padding-left)
    ou todas juntas
    (padding: W X Y Z;) ou (padding: X Y;)

    Atenção!
    Com 4 valores:
    o primeiro valor é para CIMA/TOP
    o segundo valor é para DIREITA/RIGHT
    o terceiro valor é para BAIXO/BOTTOM
    o quarto valor é para ESQUERDA/LEFT

    Com 2 valores:
    o primeiro valor é para CIMA/TOP e BOTTOM/RIGHT
    o segundo valor é para DIREITA/RIGHT e ESQUERDA/LEFT
    */
    padding-top: 25px;
    padding-bottom: 25px;
    /* As duas linhas acima são igual a usar a linha de baixo*/
    /* padding: 25px 0 25px 0; */
    /* Ou a usar essa outra linha, abaixo */
    /* padding: 25px 0; */
}

.container {
    width: 80%;
    margin: auto;
    /*margin: auto; -> divide o valor que "sobrou" de width nos dois lados do elemento, centralizando-o.*/
}

.navbar {
    list-style: none;
    /*list-style: none; -> elimina os bullets da Lista Não Ordenada.*/
    float: right;
}

.titulo {
    margin: 0;
    float: left;
    padding-top: 5px;
}

/* .navbar li {
    float: left;
} */

.header .navbar li {
    float: left;
    margin-left: 13px;
    text-transform: uppercase;
}

.destaque {
    color: orangered;
}

/* BANNER */

.banner {
    text-align: center;
    background-color: palevioletred;
    background-image: url(../imgs/banner-fundo-big.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.banner h1 {
    margin: 0;
    font-size: 50px;
    padding-top: 150px;
}

.banner h3 {
    color: #555555;
}

/* SABER MAIS */

.saiba-mais button {
    border: 0;
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    padding: 10px 30px;
    margin-top: 30px;
}

.saiba-mais {
    text-align: center;
    background-color:#232323;
    height: 90px;
}

/* MISSAO VISAO VALORES */

.box img {
    height: 100px
}

.box {
    /* border: 3px solid red; */
    overflow: auto;
} 

.box-item {
    /* border: 1px solid purple; */
    float: left;
    text-align: center;
    width: 27%;
    padding: 3%;
}

/* FOOTER */

.footer {
    text-align: center;
    background-color: orangered;
    height: 90px;
}

.footer h4 {
    margin: 0;
    padding-top: 40px;
    font-weight: 100;
    color: white;
}

/* aula 09-04*/

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: 700;
}

/* ESTILO DO LOGIN */

.pag-login {
    background-color: #ecf0f1;
    padding: 50px 0;
}

.box-login {
    background-color: white;
    width: 40%;
    margin:auto;
    /* text-align:center; */
    box-shadow: 3px 3px 5px 2px #ccc;
    /* Adicionado fora da aula */
    padding: 60px 20px 0 20px;
    border-radius: 20px;
    /*Fim adicionado fora da aula*/
}

.pag-login h1 {
    margin: 0;
    /* Adicionado fora da aula */
    text-align:center;
    margin-bottom: 40px;
    /*Fim adicionado fora da aula*/
}

/* Adicionado fora da aula */

.extra {
    height: 50px;
}

.pag-login input {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px 25px;
    
    border-radius: 5px;
    border: 1px solid #bbb;
}

.pag-login button {
    color: white;
    background-color: green;
    margin: 20px 0 50px 0;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
}

/*Fim adicionado fora da aula*/


